<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
	<h1>Add new book</h1>
    <form th:object="${uusiKirja}" th:action="@{saveBook}" action="#" method="post">
		<div>
			<label>Author</label>
			<input type="text" th:field="*{author}"/>
		</div>
		<div>
			<label>Title</label>
			<input type="text" th:field="*{title}"/>
		</div>
		<div>
			<label>ISBN</label>
			<input type="text" th:field="*{isbn}"/>
		</div>
		<div>
			<label>Year</label>
			<input type="number" min="1990" max="2023" th:field="*{publicationYear}"/>
		</div>
		<div>
			<label>Price</label>
			<input type="number" min= "1" th:field="*{price}"/>
		</div>
		<br>
		<input type="submit" class="btn btn-success" value="Add Book"></input>    
    </form>
 
</body>
</html>